/* Navbar colours */ 
.navbar-custom { 
  background-color: #303030;
} 

/* Modify brand and text colours */
.navbar-custom .navbar-brand, 
.navbar-custom .navbar-text { 
  color: #F97070;
} 

/* Link colours */
a:hover {
  color: deeppink;
}
