<html>
    <head>
        <meta charset="utf-8">
        <title>Alfie</title>
        <!-- Bootstrap CSS, JS, and jQuery -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/master.css') }}">

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg sticky-top navbar-custom">
            <a class="navbar-brand" href="/">
                <img src="{{ url_for('static', filename='logo.png') }}" width="30" height="30" class="d-inline-block align-top" alt="">
                Alfie
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-warning mr-sm-2 my-sm-0" type="submit">Search</button>
                </form>
                <button type="button" class="btn btn-outline-warning my-2 my-sm-0" data-toggle="modal" data-target="#create_project">
                    Add project
                </button>
            </div> <!-- navbar-collapse -->
        </nav>

        <div class="modal" id="create_project" role="dialog" aria-labelledby="create_project" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="create_project">Create New Project</h5>
                    </div>

                    <form action="{{ url_for('create') }}" method="post" >
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="name" class="col-form-label">Name:</label>
                                <input type="text" class="form-control" name="name">
                            </div>
                        </div> <!-- modal-body -->

                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-outline-warning">Add</button>
                        </div>
                    </form>
                </div> <!-- modal content -->
            </div> <!-- modal-dialog -->
        </div> <!-- modal -->

        {% with flashes = get_flashed_messages() %}
            {% if flashes %}
                <div class="container my-2">
                    <div class="alert alert-danger">
                        {% for message in flashes %}
                            <center><span id="blinker"> {{ message }} </span></center>
                        {% endfor %}
                    </div> <!-- alert -->
                </div> <!-- container -->
                <script>
                    var blink_speed = 200;
                    var t = setInterval(function () {
                        var ele = document.getElementById('blinker');
                        ele.style.visibility = (ele.style.visibility == 'hidden' ? '' : 'hidden');
                        }, blink_speed);
                </script>
            {% endif %}
        {% endwith %}
        <div class="container">
            {% block content %}
            {% endblock %}
        </div> <!-- container -->
    </body>
</html>
