{% extends 'base.html' %}
{% block content %}
<div class="container my-2">
    <form action="{{ url_for('show') }}" method="post">
        <div class="input-group mb-3">
            <input type="text" name="filename" class="form-control" placeholder="https://deg-doc.esrf.fr/ link" aria-label="https://deg-doc.esrf.fr/" aria-describedby="button-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-warning" type="submit">Render</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
